:root {
  --form-small: 600px;
  --form-medium: 1000px;
  --form-large: 1200px;
  --form-full: calc(100vw - 40px);
  --color-main: #355caa;
  --color-extra: #585c7d;
  --color-bg: #f1f7f7;
}

#setting-mail {
  /* background-color: var(--color-bg); */
}
.crud-group {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
}
.crud-group > ul > li:last-child > div > a:last-child {
  float: right;
}
