@page "/email/setting"
<section class="p-4">
  <section class="crud-group p-4">
    @* <ul class="column is-flex is-acentered" style="justify-content: space-between;">
      <li class="column">
        <h2 class="is-size-5 has-text-weight has-text-info">QUẢN LÝ NHÓM</h2>
      </li>
      <li class="column">
        <div class="control">
          <a class="button button-is-link is-flex p-8">
            <span class="icon">
              <span class="is-size-6 material-icons material-icons-outlined">
              add
              </span>
            </span>
            <span>Thêm nhóm</span>
          </a>
        </div>
      </li>
    </ul> *@
    <div class="columm p-4">
      <a href="" class="button is-outline"></a>
    </div>
  </section>
</section>
