<div class="content-header">
    <ul class="menu-notify">
        <li class="col-half user-info">
            <img src="img/test4.jpg" alt="">
            <a>
                <span>Đan Trường Nguyễn</span>
            </a>
        </li>
        <div class="col-half right-menu">
            <ul class="menu-item">
                <li class="columm">
                    <span title="Thông báo email" class="gi material-symbols material-symbols-outlined">
                        Mail
                    </span>
                </li>
                <li class="columm">
                    <span title="Thông báo tin tức" class="gi material-symbols material-symbols-outlined">
                        dashboard
                    </span>
                </li>
                <li class="columm">
                    <span title="Thông báo CFRs" class="gi material-symbols material-symbols-outlined">
                        grade
                    </span>
                </li>
                <li class="columm">
                    <span title="Thông báo kế hoạch" class="gi material-symbols material-symbols-outlined">
                        view_timeline
                    </span>
                </li>
                <li class="columm">
                    <span title="Thông báo đào tạo" class="gi material-symbols material-symbols-outlined">
                        book
                    </span>
                </li>
                <li class="columm">
                    <span title="Thông báo khác" class="gi material-icons material-icons-outlined">
                        notifications_none
                    </span>
                </li>
            </ul>
        </div>
    </ul>
</div>
