@inherits LayoutComponentBase
@inject NavigationManager navigation
<CascadingValue Value="this">
  <main id="main">
      <NavMenu />
      <section id="content">
          @if (navigation.Uri.Contains("email") && navigation.Uri.Replace(navigation.BaseUri, "") != "email/create" && navigation.Uri.Replace(navigation.BaseUri, "") != "email/details")
          {
           <section class="main-layout">
              <NavMail />
              <section class="columm">
                <HeaderMain />
                @Body
              </section>
            </section>
          } 
          else 
          {
            <HeaderMain />
            @Body
          }
      </section>
  </main>
</CascadingValue>

@code {
  public bool loadPage = true;
  private MailItemModels mailList = new MailItemModels();
}