@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime;
@using System
@page "/email/setting"
<div class="scroll" style="height: calc(100vh - 52px);">

  <_CrudGroup/>

  <_CrudOptions/>

  <_CrudSticky/>

  <_CrudSignature/>
</div>
