<footer>
  <div class=" columm pagination font_13">
    <ul class="column is-flex has-text-weight-semibold">
      <li class="mr-2">
        <a class="">
          <span class="">
            <i class="material-icons is-size-6 material-icons-outlined">
              chevron_left
            </i>
          </span>
        </a>
      </li>
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li class="ml-2">
        <a class="">
          <span class="">
            <i class="material-icons is-size-6 material-icons-outlined">
              chevron_right
            </i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</footer>
