@page "/email/receivedMail"
<section class="main">
  <div class="columm">
    <ul class="column is-flex">
      <li class="column p-8">
        <span class="has-text-titleMail">Hộp thư đến</span>
      </li>
      <li class="column is-narrow p-8 is-one-quarter" width="100px">
        <div class="control has-icon-left has-icon-right has-suggest">
          <input type="text" class="input is-rounded" placeholder="Tiêu đề, nội dung, người gửi...">
          <span class="icon is-left">
            <i class="is-14 material-icons material-icons-outlined">
              search
            </i>
          </span>
        </div>
      </li>
      <li class="column"></li>
      <li class="column"></li>
      <li class="column"></li>
      <li class="column"></li>
    </ul>
  </div>
</section>