<div class="columm mt-10 is-sticky-109 is-flex">
  <ul class="column font_13 is-flex p-8">
    <li class="column is-flex">
      <a class="button" @onclick="() => is_checkItemMail = !is_checkItemMail">
        <span class="icon has-text-grey">
          @if (is_checkItemMail == false)
          {                
            <i class="is-size-6 material-icons material-icons-outlined">
            check_box_outline_blank
            </i>
          }
          else
          {
            <i class="is-size-6 material-icons material-icons-outlined">
            check_box
            </i>
          }
        </span>
      </a>
    </li>
    @if (is_checkItemMail == false)
    {
      <li class="column ellipsis">Chọn tất cả</li>
    }
    else
    {
      <li class="column ellipsis">Huỷ chọn tất cả</li>
    }
  </ul>
  <ul class="column is-flex is-border-bot font_13">
    @foreach (var mail in sortListMail)
    {
      <li class='column ellipsis has-text-centered p-8 @(mail.id == tabId ? "is_active" : "")' @onclick="() => tabId = mail.id">
        <a class="has-text-weight-semibold">
          @mail.name
        </a>
      </li>
    }
    <li class="column is-flex p-8">
      <div class="control">
        <div class="dropdown @choseTypeSortMail is-right">
          <div class="dropdown-trigger">
            <a class="ellipsis has-text-weight-semibold has-text-link is-flex" @onclick="choseTypeSort">
              <span class="">@selectSortMail</span>
              <span class="icon has-text-link">
                <i class="material-icons material-icons-outlined is-size-5">arrow_drop_down</i>
              </span>
            </a>
          </div>
          <div class="dropdown-menu is-right-dropdown mt-10" style="width: 170px;">
            <div class="dropdown-content">
              <a class="dropdown-item has-text-weight-semibold font_13 disable-hover">Danh sách danh mục</a>
              <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Tuyển dụng")'>Tuyển dụng</a>
              <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Lịch họp")'>Lịch họp</a>
              <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("OKRs")'>OKRs</a>
              <a class="dropdown-item font_13" @onclick='() => OnSelectTypeSortValueChanged("Khác")'>Khác</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

@code {
  private string tabId = "0";
  private bool isTypeSortMail = false;
  private bool is_checkItemMail = false;
  private string selectSortMail {get; set;} = "Khác (+3)";
  private string choseTypeSortMail => isTypeSortMail ? "is_active" : "";
  private List<TypeSortMailModels> sortListMail = new();
  public void choseTypeSort()
  {
    isTypeSortMail = !isTypeSortMail;
  }
  private void OnSelectTypeSortValueChanged(string value)
  {
    selectSortMail = value;
  }
  protected override void OnInitialized() 
  {
    CreateListSortMail();
  }
  public void CreateListSortMail()
  {
    sortListMail = new()
    {
      new TypeSortMailModels()
      {
        id = "0",
        name = "Tất cả",
        isActive = false,
      },
      new TypeSortMailModels()
      {
        id = "1",
        name = "Vận hành",
        isActive = false,
      },
      new TypeSortMailModels()
      {
        id = "2",
        name = "Nhân sự",
        isActive = false,
      },
      new TypeSortMailModels()
      {
        id = "3",
        name = "Kế toán",
        isActive = false,
      },
      new TypeSortMailModels()
      {
        id = "4",
        name = "Sale Marketing",
        isActive = false,
      },
      new TypeSortMailModels()
      {
        id = "5",
        name = "Truyền thông",
        isActive = false,
      },
      new TypeSortMailModels()
      {
        id = "6",
        name = "Tổng công ty",
        isActive = false,
      },
    };
  }
}